<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.gamepad"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false" />

    <supports-screens
        android:smallScreens="false"
        android:normalScreens="false"
        android:largeScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.tdpham.games.GameApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:banner="@drawable/ic_banner"
        android:isGame="true"
        android:appCategory="game">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5190563950149825~4678411917"/>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <activity
            android:name="com.tdpham.games.hub.SplashActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.MyApplication"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tdpham.games.hub.MainActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.tdpham.games.snake.SnakeActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.tdpham.games.minesweeper.MinesweeperActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.tdpham.games.twentyfortyeight.TwentyFortyEightActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.tdpham.games.trex.TRexActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.tdpham.games.brickbreak.BrickBreakActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.tdpham.games.tictactoe.TicTacToeActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.tdpham.games.sudoku.SudokuActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.tdpham.games.checkers.CheckersActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.tdpham.games.sokoban.SokobanActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.tdpham.games.tetris.TetrisActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.tdpham.games.starfighter.StarFighterActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.tdpham.games.memory.MemoryActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.tdpham.games.slidepuzzle.SlidePuzzleActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            tools:ignore="LockedOrientationActivity" />


        <activity
            android:name="com.tdpham.games.mentalmath.MentalMathActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.tdpham.games.froggy.FroggyCrossActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.tdpham.games.simon.SimonSaysActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.tdpham.games.tanks.BattleTanksActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.tdpham.games.wordquest.WordQuestActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.tdpham.games.dungeon.DungeonEscapeActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.tdpham.games.flappy.FlappyHeroActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.tdpham.games.lines98.Lines98Activity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.tdpham.games.solitaire.SolitaireActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.tdpham.games.roadracer.RoadRacerActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.tdpham.games.hangman.HangmanActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.tdpham.games.spinball.SpinballActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.tdpham.games.hub.SettingsActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            tools:ignore="LockedOrientationActivity" />

    </application>

</manifest>
